{%- if resume.sections.skills -%}
  <section class="content-section">
    <header class="section-header"><h2>Skills</h2></header>
    {%- for skill in site.data.skills -%}
      <div class="resume-item">
        <h4 class="resume-item-details">{{ skill.skill }}</h4>
        <div class="resume-item-copy">
          {%- if skill.description -%}
            <div class="skill-description">
              {{ skill.description }}
            </div>
          {%- endif -%}
          {%- if skill.list -%}
            {%- assign skillSorted = skill.list | sort_natural -%}
            <div class="skill-list">
              {%- for item in skillSorted -%}
                <span>{{ item }}</span>{%- if forloop.last -%}{%- else -%}<span> &bull; </span>{%- endif -%}
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </section>
{%- endif -%}
